<h1>Add a post</h1>

<%= form_for :post, url: posts_path do |f| %>
<%# submits to our create method %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title, :class => 'form-control' %>
  </p>

  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body, :class => 'form-control' %>
  </p>

  <p>
    <div class="text-right">
    <%= f.submit :class => 'btn btn-info btn-right' %>
    </div>
  </p>

<% end %>